body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
footer {
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 20px;
  position: sticky;
}
.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 4px;
  background-color: #f0f0f0;
}
.nav-sup {
  color: green;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(22, 11, 16, 0.447);
  transition: text-shadow 0.3s ease;
}
.nav-sup:hover {
  text-shadow: 2px 2px 4px rgba(20, 10, 14, 0.8);
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation li a:hover {
  font-weight: bold;
  color: rgb(229, 26, 7);
}
.navigation li{
  list-style-type: none;
}

a {
  text-decoration: none;
}
.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(221, 242, 243);
  box-shadow: 0px 4px 30px rgba(121, 94, 94, 0.5);
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.detail-card button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(118, 111, 238);
  border: none;
  cursor: pointer;
  color: aliceblue;
}
.detail-card button:hover {
  background-color: rgb(89, 5, 207);
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
  gap: 20px 20px;
}
.detail-card:hover {
  transform: scale(1.1);
}

/* extra button decoration */
/* .btn-wrap{
  position: relative;
}
.btn-wrap canvas{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
 */

/* responsive for the small device */
@media screen and (max-width: 768px) {
  .nav-main {
    flex-direction: column;
    justify-content: flex-start;
    background-color: azure;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 70px;
    gap: 20px 20px;
    margin: 30px 00px 30px 00px;
  }
  .detail-card:hover {
    transform: none;
  }
}
