body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    position: relative;
    font-family: "Roboto", sans-serif;
} 
footer {
    position: absolute;
    bottom: 0; 
    width: 100%;
    background-color: #f0f0f0; 
    text-align: center; 
    padding-bottom: 30px;
    margin-top: 20px;
}
.nav-main{ 
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 50px;
    padding:4px;
    background-color: #f0f0f0; 
}
.nav-sup{
    color: green;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(22, 11, 16, 0.447); 
    transition: text-shadow 0.3s ease; 

}
.nav-sup:hover{
    text-shadow: 2px 2px 4px rgba(20, 10, 14, 0.8); 
}
.navigation{
   
    display: flex;
    gap: 20px;
}
.navigation li a:hover{
    font-weight: bold;
    color: rgb(229, 26, 7);
    
}
.navigation li {
list-style-type: none;
}
/* .navigation ul a{
    display: block;
} */
a{
    text-decoration: none;
}
/* .container{
    position: relative;
    height: 70%;
    width: 70%;
   
    } */

.signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 10px;
    background-color: rgb(244, 249, 247);
    box-shadow: 0px 4px 8px rgba(95, 74, 74, 0.5);
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 15px;
}
.input-file{
   font-weight: bold;
}
.input-file input {
    cursor: pointer;
    padding:10px 80px 7px 10px;
}
.input-file input:hover{
    background: #e6e8b7;
}
.sec-1{
    display: flex;
    gap:200px;
}
.address{
    margin-bottom: 5px;
}
.btn{
    margin-top: 25px;
    cursor: pointer;
    background: rgb(133, 86, 186); padding: 10px 45px 10px 45px;
    border-radius: 5px;
    border: none;
    color: aliceblue;
   
}

.btn:hover{
    background: red;
}

/* responsive for the small device */
@media screen and (max-width: 768px) {
    .nav-main{
        flex-direction: column;
        justify-content:flex-start;
        background-color: azure;
        
    }
    .signup{
        display: grid;
        margin: 70px 00px 00px 00px;
        background-color: white;
        box-shadow: none;
    }
    .sec-1{
        display: grid;
        gap: 00;
    }
    .btn{
        margin-bottom: 100px;
        
    }
}